<?php
  /**
   * General bot settings controlling its behavior.
   */
  // Bot timezome setting and current date (Y-m-d). This is best set to the same as the source Google calendar.
  date_default_timezone_set('America/Chicago');
  $today = date('Y-m-d');
  /**
   * Respect all-day events. Don't generate a tweet until all-day events are complete (assumes 23:59:59/midnight).
   *  - 'false' = tweets/progress will begin immediately after event's first announcement/start date/time.
   *  - 'true' (bot default) = tweets will generate begining at midnight _after_ event's start date.
   */
  $respectAllDayEvents = true;
  /**
   * Expected event cadence (default: 'day').
   *  Set to 'hour' if expected interval between events is less than 24 hours.
   *  This changes the math/diff in event calculations ('day' == greater precision).
   *  Currently unused; provided for future iterations.
   */
  $expectedEventCadence = 'day';
  /**
   * Debug all the bot's calculations and output/response. Behaves independent of $debug_tweet, with nuance:
   *  - if $debug_tweet is set = true, will include the full JSON response from the Twitter API post.
   *  - if $debug_tweet is set = false, will only include the response ("Good/Bad Request") from the Twitter API post.
   * Debug format affords a raw PHP print_r of the debug information array (can be easier to examine in realtime).
   *  - default ($debug_format): 'json'
   *  - not specified/other: print_r
   */
  $debug_bot = true;
  $debug_format = 'json';
?>