<?php
  /**
   * Settings to configure the display of the bot's tweets
   */
  // Include event names/summaries
  $includeEventSummary = true;
  // Include last/next event dates (requires $includeEventSummary = true)
  $includeLastEventDate = false;
  $includeNextEventDate = false;
  // Progress bar character definitions
  $progressCharacter = "▓";
  $remainingCharacter = "░";
  // Character width of progress bar
  $totalBars = 18;
  // Debug tweet/API posting by printing output of full JSON response. Behaves independent of $debug_bot.
  $debug_tweet = false;
?>